@using DeltaXpress.Models.ViewModels;
@using static DeltaXpress.Utils.UtilsApp;
@model CarrierModel


@{ Layout = null; }
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DeltaX</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap-flex.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="shortcut icon" href="~/images/XDeltaX.ico" />
    <environment include="Development">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="shortcut icon" href="~/images/deltax-02.ico" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans:200,400,500,600,700" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="~/node_modules/sweetalert2/dist/sweetalert2.min.css">

    <link href="~/css/bundle-styles.css" rel="stylesheet">
    <link href="~/css/teamStyles.css" rel="stylesheet" /> @* NO ESTA SIENDO UTILIZADO*@


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">

    <link href="~/css/login_styles.css" rel="stylesheet" />

    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Scroll -->
    <script src="~/js/smooth-scroll.min.js"></script>
    <script>
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 2000, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function (anchor, toggle) { } // Function to run after scrolling
        });
    </script>
    <link href="~/css/myStyles.css" rel="stylesheet" />
    <script src="~/js/index.js"></script>
    <script src="~/js/jquery-3.4.1.min.js"></script>
</head>

<body>

    @{
        var registerCarrierVM = (RegisterCarrierViewModel)ViewData["registerCarrier"];
        var requestQuotationVM = (RequestQuotationViewModel)ViewData["requestQuotation"];

        var trucksTypes = registerCarrierVM.trucksTypes;

        var servicesTypes = requestQuotationVM.servicesTypes;
        var umsStorageCapacity = requestQuotationVM.umsStorageCapacity;
        var umsStorageTime = requestQuotationVM.umsStorageTime;

    }
    <!-- MENÚ -->
    <header>
        <nav class="myNavbar navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/logoDeltaX.png" class="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse myNavbarElements">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" data-scroll href="#sec-1">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" data-scroll href="#sec-2">Tecnología</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" data-scroll href="#sec-5">Contacto</a>
                        </li>
                        <li class="nav-item buttonDiv">
                            @* EJECUTAR LA ACCION DE CUADRO MODAL*@
                            <a class="btn btnDelta" role="button" style="width:100%;" data-scroll href="" data-toggle="modal" data-target="#modalLoginForm">Iniciar Sesión</a>
                            @*<button data-scroll href="#sec-4" class="btn btnDelta" role="button" aria-pressed="true">Iniciar sesión</button>*@
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="headLogin" class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Iniciar Sesión</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <input type="email" id="defaultForm-email" class="form-control validate">
                        <label id="label-control" data-error="inválido" data-success="valido" for="defaultForm-email">Correo Electrónico</label>
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control validate">
                        <label data-error="password inválido" data-success="aceptada" for="defaultForm-pass">Contraseña</label>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button id="submitLogin" class="btn btn-default">Ingresar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- FIN MENU -->
    <!-- SECCIÓN 1 : Inicio-->
    <div class="slider-1" id="sec-1">
        <div class="divContainer">
            <div class="text">
                <h1>
                    Revolucionamos el <br />
                </h1>
                <h1>
                    <span class="typer" id="main" data-words="Transporte,Almacenamiento" data-delay="100" data-deleteDelay="1000"></span>
                    <span class="cursor" data-owner="main"></span>
                </h1>
                <h1>de carga en Latinoamérica</h1>
                <button class="btn btnDelta btnSoyCliente">
                    <b><a style="color:white;text-decoration:none;" data-scroll href="#sec-5">Soy cliente</a></b>
                </button>
                <button class="btn btnDelta">
                    <b><a style="color:white;text-decoration:none;" data-scroll href="#sec-4">Soy transportista</a></b>
                </button>
            </div>
        </div>
    </div>
    <!-- FIN SECCIÓN -->
    <!-- SECCIÓN 2 : Tecnología-->
    <div class="slider-2" id="sec-2">
        <div class="divContainer">
            <img id="tab1img" src="~/images/img_geolocalizacion.png" class="img" />
            <img id="tab2img" src="~/images/img_timeline.png" class="img" />
            <img id="tab3img" src="~/images/img_cotizaciones.png" class="img" />
            <div class="divOptions">
                <ul class="tabs">
                    <li class="custom_li" id="li1"><a href="#tab1"><span><b>GEOLOCALIZACIÓN</b></span></a></li>
                    <li class="custom_li" id="li2"><a href="#tab2"><span><b>SEGUIMIENTO</b></span></a></li>
                    <li class="custom_li" id="li3"><a href="#tab3"><span><b>COTIZACIONES</b></span></a></li>
                </ul>
                <div class="tabContents">
                    <article id="tab1">
                        <p>
                            Ahora podrás conocer la ubicación exacta del camión que lleva tu carga.
                            Iniciando sesión en nuestro portal cliente, podrás monitorear tus operaciones en tránsito, así como también el historial de operaciones pasadas.
                        </p>
                    </article>
                    <article id="tab2">
                        <p>
                            Ahora podrás saber todos los pasos a seguir para el transporte de tu carga, podrás
                            ver todas y cada una de las etapas en las que se encuentra cada operación, así como también cargar y/o consultar documentos según la etapa.
                        </p>
                    </article>
                    <article id="tab3">
                        <p>
                            Ahora podrás solicitar una cotización de manera sencilla, práctica y rápida. Podrás solicitar cotizaciones por cada uno de los servicios que ofertamos, con un
                            tiempo de respuesta inmediato dentro de las 24 horas de realizada la solicitud.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN SECCIÓN -->
    <!-- SECCIÓN 4 : Soy Transportista-->
    <div class="slider-2 divContainerForm" id="sec-4">
        <div class="divContainer">
            <div class="col colTxt">
                <h1>Transporta carga con nosotros</h1>
                @*
                    <p><b>Cotiza nuestros servicios ahora!</b></p>*@
                <p>Regístrate ahora!</p>
                <div>
                    <img class="imgForms" src="~/images/form_transportista.jpg" alt="Imagen no cargada" />
                </div>
                @*
                    <h4>Estamos revolucionando la logística, contamos con tecnologia innovadora que optimiza cada una de nuestras operaciones. Transportar carga nunca fue tan fácil.</h4>*@
            </div>
            <div class="col colForm">
                <form class="form" name='nformTransp' id='formCarrier' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
                    <input type="hidden" name="idMembershipCarrier" value="2" />
                    <div class="form-row">
                        <label for="companyCarrier">Empresa</label>
                        <input class="form-control" type="text" name="companyCarrier" placeholder="Ej. Delta Transporte">
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="fullnameCarrier">Nombres*</label>
                            <input class="form-control" data-value-missing= type="text" name="fullnameCarrier" placeholder="Ej. Victor" required>
                        </div>
                        <div class="col-md-6">
                            <label for="lastnameCarrier">Apellidos*</label>
                            <input class="form-control" type="text" name="lastnameCarrier" placeholder="Ej. Padilla" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="nroLicenseCarrier">Nro. Licencia *</label>
                            <input class="form-control" type="number" min="1" name="nroLicenseCarrier" placeholder="Ej. 5482357" required>
                        </div>
                        <div class="col-md-6">
                            <label for="phoneCarrier">Teléfono *</label>
                            <input class="form-control" type="tel" name="phoneCarrier" placeholder="Ej. 77350000" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="emailCarrier">Correo Electrónico</label>
                        <input class="form-control" type="text" name="emailCarrier" placeholder="Ej. victorpadilla@gmail.com">
                    </div>
                    <div class="form-row">
                        <label for="truckTypeCarrier">Tipo de Camión *</label>
                        <select class="form-control" name="truckTypeCarrier" asp-items="@(new SelectList(trucksTypes,"id","type"))" required>
                        </select>
                    </div>
                    <div class="form-row">
                        <button type="submit" onclick="return postCarrier()" class="btn btn-block btnDelta">
                            <a style="color:white;text-decoration:none;">
                                Regístrate
                            </a>
                        </button>
                    </div>
                    <span class="err-msg">Debe completar los campos: Nombre / Empresa, Teléfono y Email</span>
                </form>
            </div>
        </div>
    </div>
    <!-- FIN SECCIÓN -->
    <!-- SECCIÓN 5 : Soy cliente-->
    <div class="slider-2 divContainerForm2" id="sec-5">
        <div class="divContainer">
            <div class="col colForm">
                <form class="form carrierRegister-form" asp-controller="Contact" asp-action="Contact" name='nformCliente' id='formCliente' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
                    <div class="form-row">
                        <label for="companyQuotation">Empresa</label>
                        <input class="form-control" type="text" name="companyClient" placeholder="Ej. DeltaX">
                    </div>
                    <div class="form-row">
                        <label for="fullnameQuotation">Nombre Completo *</label>
                        <input class="form-control" required type="text" name="fullnameClient" placeholder="Ej. Victor Padilla">
                    </div>
                    <div class="form-row">
                        <label for="phoneQuotation">Teléfono *</label>
                        <input class="form-control" required type="text" name="phoneClient" placeholder="Ej. 77350000">
                    </div>
                    <div class="form-row">

                        <label for="emailCustomer">Correo Electrónico</label>
                        <input class="form-control" type="text" name="emailClient" placeholder="Ej. vpadilla@deltax.la">
                    </div>
                    <div class="form-row">
                        <label for="serviceTypeClient">Tipo de Servicio*</label>
                        <select class="form-control" name="serviceTypeClient" asp-items="@(new SelectList(servicesTypes,"id","name"))" required>
                        </select>
                    </div>
                    <div id="divTransporteNacional" class="grid form-row row-of-combos">
                        <div class="col">
                            <label id="lblOrigen" for="routeNationalOrigin">Origen de Carga</label>
                            <select class="form-control" name="routeNationalOrigin">
                                <option value="SantaCruz">Santa Cruz</option>
                                <option value="LaPaz">La Paz</option>
                                <option value="Cochabamba">Cochabamba</option>
                                <option value="Sucre">Sucre</option>
                                <option value="El_Alto">El Alto</option>
                                <option value="Potosi">Potosi</option>
                                <option value="Oruro">Oruro</option>
                                <option value="Tarija">Tarija</option>
                                <option value="Trinidad">Trinidad</option>
                            </select>
                        </div>
                        <div class="col">
                            <label id="lblDestino" for="routeNationalDestination">Destino de Carga</label>
                            <select class="form-control" name="routeNationalDestination">
                                <option value="SantaCruz">Santa Cruz</option>
                                <option value="LaPaz">La Paz</option>
                                <option value="Cochabamba">Cochabamba</option>
                                <option value="Sucre">Sucre</option>
                                <option value="El_Alto">El Alto</option>
                                <option value="Potosi">Potosi</option>
                                <option value="Oruro">Oruro</option>
                                <option value="Tarija">Tarija</option>
                                <option value="Trinidad">Trinidad</option>
                            </select>
                        </div>
                    </div>
                    <div id="divPesoVolumen" class="form-row" style="display:none;">
                        <div class="col-md-6">
                            <label for="weightQuotation">Peso *</label>
                            <div class="form-row">
                                <div class="col-md-10">
                                    <input class="form-control" type="number" min="0" name="weightQuotation" placeholder="Ej. 20">
                                </div>
                                <div class="col-md-2">
                                    <label for="peso">Tn.</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="volumeQuotation">Volumen *</label>
                            <div class="form-row">
                                <div class="col-md-10">
                                    <input class="form-control" type="number" min="0" name="volumeQuotation" placeholder="Ej. 40">
                                </div>
                                <div class="col-md-2">
                                    <label for="peso">m3</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divAlmacenamientoCarga" class="form-row" style="display:none;">
                        <div class="col-md-6">
                            <label for="storageCapacityQuotation">Capacidad Almacenamiento*</label>
                            <div class="form-row">
                                <div class="col-md-7">
                                    <input class="form-control" type="number" min="0" name="storageCapacityQuotation" placeholder="Ej. 10">
                                </div>
                                <div class="col-md-3">
                                    <select class="form-control" name="unitMeasurementCapacityQuotation"
                                            asp-items="@(new SelectList(umsStorageCapacity,"id","abbreviation"))">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="storageTimeQuotation">Tiempo Almacenamiento*</label>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <input class="form-control" type="number" min="0" name="storageTimeQuotation" placeholder="Ej. 10">
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" name="unitMeasurementTimeQuotation"
                                            asp-items="@(new SelectList(umsStorageTime,"id","abbreviation"))">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label for="commentQuotation">Coméntanos</label>
                        <textarea class="form-control" rows="3" name="commentQuotation" placeholder="Ej: Hola! Quiero transportar 10 pallets, peso total 20 Tn, en la ruta indicada esta semana..."></textarea>
                    </div>
                    <div class="form-row">
                        <button type="submit" onclick="return postQuotationWithRegisterClient();" class="btn btn-block btnDelta">
                            <a style="color:white;text-decoration:none;">
                                Cotizar
                            </a>
                        </button>
                    </div>
                    <span class="err-msg">Debe completar los campos: Nombre / Empresa, Teléfono y Email</span>
                </form>
            </div>
            <div class="col colTxt">
                <h2>Transporta carga con nosotros</h2>
                <p>Cotiza nuestros servicios ahora!</p>
                <div>
                    <img class="imgForms" src="~/images/form_cliente.jpg" alt="Imagen no cargada" />
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-muted footer1 footer2" style="position:relative;">
        <img src="..\images\logoDeltaX.png" class="logoFooter">
        <div class="col">
            <div class="divContactUs">
                <h3>Contáctanos</h3>
                <a target="_blank" href="https://www.facebook.com/deltaxla-108230477266194/">
                    <img src="~/images/facebook.png">
                </a>
                <a target="_blank" href="https://wa.me/59175637458">
                    <img src="~/images/whatsapp (2).png">
                </a>
                <a target="_blank" href="https://www.instagram.com/deltax.la/">
                    <img src="~/images/instagram (1).png">
                </a>
                <a target="_blank" href="https://www.linkedin.com/company/40775825/admin/">
                    <img src="~/images/linkedin (3).png">
                </a>
            </div>
        </div>
    </footer>
    <footer class="footer text-muted footer1" style="position:relative;">
        <div class="container" style="text-align:center;background-color: white;">
            &copy; Copyright DeltaX - 2019
        </div>
    </footer>

    <!-- FIN SECCIÓN -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery" crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    <!--  Sweet Alert Javascript  -->
    <script src="~/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>

    <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
    <link href="~/css/myStyles.css" rel="stylesheet" />


</body>

</html>