@{ Layout = null; }
<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Delta X</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap-flex.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="shortcut icon" href="~/images/XDeltaX.ico" />
    <environment include="Development">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="shortcut icon" href="~/images/deltax-02.ico" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans:200,400,500,600,700" rel="stylesheet">
    <link href="https://cdn.materialdesignicons.com/2.8.94/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.2/css/swiper.min.css">
    <link rel="stylesheet" href="~/node_modules/sweetalert2/dist/sweetalert2.min.css">
    <link href="~/css/bundle-styles.css" rel="stylesheet">
    <link href="~/css/teamStyles.css" rel="stylesheet" />
    <!-- Scroll -->
    <script src="~/js/smooth-scroll.min.js"></script>
    <script>
        smoothScroll.init({
            selector: '[data-scroll]', // Selector for links (must be a class, ID, data attribute, or element tag)
            selectorHeader: null, // Selector for fixed headers (must be a valid CSS selector) [optional]
            speed: 2000, // Integer. How fast to complete the scroll in milliseconds
            easing: 'easeInOutCubic', // Easing pattern to use
            offset: 0, // Integer. How far to offset the scrolling anchor location in pixels
            callback: function(anchor, toggle) {} // Function to run after scrolling
        });
    </script>
    <link href="~/css/myStyles.css" rel="stylesheet" />
    <script src="~/js/myScripts.js"></script>
    <script src="~/js/jquery-3.4.1.min.js"></script>
</head>

<body>
    <!-- MENÚ -->
    <div class="container-fluid navbar-fixed-top myNavbar">
        <nav class="navbar navbar-expand-lg nav-tabs">
            <img src="~/images/logoDeltaX.png" class="logo"/>
            <div class="navbar-collapse myNavbarElements">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a data-scroll class="nav-link" href="#sec-1">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll class="nav-link" href="#sec-2">Tecnologia</a>
                    </li>
                    <li class="nav-item">
                        <a data-scroll href="#sec-5" class="nav-link" role="button" aria-pressed="true">Contacto</a>
                    </li>
                    <li class="nav-item buttonDiv">
                        <button data-scroll href="#sec-4" class="btn btnDelta" role="button" aria-pressed="true">Iniciar sesión</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- FIN MENU -->
    <!-- SECCIÓN 1 : Inicio-->
    <div class="slider-1" id="sec-1">
        <div class="divContainer">
            <div class="text">
                <h1>
                    Revolucionamos el <br />
                </h1>
                <h1>
                    <span class="typer" id="main" data-words="Transporte,Almacenamiento" data-delay="100" data-deleteDelay="1000">
                    </span>
                    <span class="cursor" data-owner="main"></span>
                </h1>
                <h1>de carga en Latinomérica</h1>
                <button class="btn btnDelta btnSoyCliente">
                    <b><a style="color:white;text-decoration:none;" data-scroll href="#sec-5">Soy cliente</a></b>
                </button>
                <button class="btn btnDelta">
                    <b><a style="color:white;text-decoration:none;" data-scroll href="#sec-4">Soy transportista</a></b>
                </button>
            </div>
        </div>
    </div>
    <!-- FIN SECCIÓN -->
    <!-- SECCIÓN 2 : Tecnología-->
    <div class="slider-2" id="sec-2">
        <div class="divContainer">
            <img id="tab1img" src="~/images/img_geolocalizacion.png" class="img" />
            <img id="tab2img" src="~/images/img_timeline.png" class="img" />
            <img id="tab3img" src="~/images/img_cotizaciones.png" class="img" />
            <div class="divOptions">
                <ul class="tabs">
                    <li class="custom_li" id="li1"><a href="#tab1"><span><b>Geolocalización</b></span></a></li>
                    <li class="custom_li" id="li2"><a href="#tab2"><span><b>Seguimiento</b></span></a></li>
                    <li class="custom_li" id="li3"><a href="#tab3"><span><b>Cotizaciones</b></span></a></li>
                </ul>
                <div class="tabContents">
                    <article id="tab1">
                        <p>
                            Ahora podrás conocer la ubicación exacta del camión que lleva tu carga, en todo momento. Ingresando a nuestro portal Cliente, podrás conocer la ubicación exacta de cada una de las Operaciones en tránsito contratadas, así como también el historial de operaciones
                            pasadas.
                        </p>
                    </article>
                    <article id="tab2">
                        <p>
                            Ahora podrás saber todos los pasos a seguir para el transporte de tu carga, podrás ver todas y cada una de las etapas en las que se encuentra cada operación, así como también cargar y/o consultar documentos según la etapa.
                        </p>
                    </article>
                    <article id="tab3">
                        <p>
                            Ahora podrás solicitar una cotización de manera sencilla, practica y rápida. Podrás solicitar cotizaciones por cada uno de los servicios que ofertamos, con un tiempo de respuesta inmediato dentro de las 24 horas de realizada la solicitud.
                        </p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN SECCIÓN -->
    <!-- SECCIÓN 4 : Soy cliente-->
    <div class="slider-2 divContainerForm" id="sec-4">
        <div class="divContainer">
            <div class="col colTxt">
                <h1>Transporta carga con nosotros</h1>
                @*
                <p><b>Cotiza nuestros servicios ahora!</b></p>*@
                <p>Regístrate ahora!</p>
                <div>
                    <img class="imgForms" src="~/images/form_transportista.jpg" alt="Imagen no cargada" />
                </div>
                @*
                <h4>Estamos revolucionando la logística, contamos con tecnologia innovadora que optimiza cada una de nuestras operaciones. Transportar carga nunca fue tan fácil.</h4>*@


            </div>
            <div class="col colForm">
                <form class="form" asp-controller="Contact" asp-action="Contact" name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
                    <input type="hidden" name="zf_redirect_url" value="">
                    <input type="hidden" name="zc_gad" value="">
                    <div class="form-row">
                        <label for="company">Empresa</label>
                        <input class="form-control" type="text" name="company" placeholder="Ej. Delta X">
                    </div>
                    <div class="form-row">


                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="fullname">Nombres*</label>
                            <input class="form-control" required type="text" name="fullname" placeholder="Ej. Juan Martin">
                        </div>
                        <div class="col-md-6">
                            <label for="fullname">Apellidos*</label>
                            <input class="form-control" required type="text" name="lastname" placeholder="Ej. Perez Fernandez">
                        </div>

                    </div>
                    <div class="form-row">
                        <label for="phone">Teléfono *</label>
                        <input class="form-control" required type="text" name="phone" placeholder="Ej. 78099062">
                    </div>
                    <div class="form-row">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" placeholder="Ej. example@gmail.com">
                    </div>
                    <div class="form-row">
                        <label for="serviceType">Tipo de Servicio *</label>
                        <select class="form-control" required name="serviceType">
                            <option value="">Seleccionar</option>
                            <option value="1">Transporte Nacional</option>
                            <option value="2">Almacenamiento de Carga</option>
                        </select>
                    </div>
                    <div class="grid form-row row-of-combos">
                        <div class="col">
                            <label id="lblOrigen" for="loadingSource">Origen de Carga</label>
                            <select class="form-control" required name="loadingSource">
                                <option value="">Seleccionar</option>
                                <option value="SantaCruz">Santa Cruz</option>
                                <option value="LaPaz">La Paz</option>
                                <option value="Cochabamba">Cochabamba</option>
                                <option value="Sucre">Sucre</option>
                                <option value="ElAlto">El Alto</option>
                                <option value="Potosi">Potosi</option>
                                <option value="Oruro">Oruro</option>
                                <option value="Tarija">Tarija</option>
                                <option value="Trinidad">Trinidad</option>
                            </select>
                        </div>
                        <div class="col">
                            <label id="lblDestino" for="loadingDestination">Destino de Carga</label>
                            <select class="form-control" name="loadingDestination">
                                <option value="">Seleccionar</option>
                                <option value="SantaCruz">Santa Cruz</option>
                                <option value="LaPaz">La Paz</option>
                                <option value="Cochabamba">Cochabamba</option>
                                <option value="Sucre">Sucre</option>
                                <option value="ElAlto">El Alto</option>
                                <option value="Potosi">Potosi</option>
                                <option value="Oruro">Oruro</option>
                                <option value="Tarija">Tarija</option>
                                <option value="Trinidad">Trinidad</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" onclick="return responseCotization();" class="btn btn-block btnDelta">
                            <a style="color:white;text-decoration:none;">
                                Regístrate
                            </a>
                        </button>
                    </div>
                    <span class="err-msg">Debe completar los campos: Nombre / Empresa, Teléfono y Email</span>
                </form>
            </div>
        </div>
    </div>
    <!-- FIN SECCIÓN -->
    <!-- SECCIÓN 5 : Soy Transportista-->
    <div class="slider-2 divContainerForm" id="sec-5">
        <div class="divContainer">
            <div class="col colForm">
                <form class="form carrierRegister-form" asp-controller="Contact" asp-action="Contact" name='form' id='form' method='POST' accept-charset='UTF-8' enctype='multipart/form-data'>
                    <input type="hidden" name="zf_redirect_url" value="">
                    <input type="hidden" name="zc_gad" value="">
                    <div class="form-row">
                        <label for="company">Empresa</label>
                        <input class="form-control" type="text" name="company" placeholder="Ej. Delta X">
                    </div>
                    <div class="form-row">
                        <label for="fullname">Nombre Completo *</label>
                        <input class="form-control" required type="text" name="fullname" placeholder="Ej. Juan Perez">
                    </div>
                    <div class="form-row">
                        <label for="phone">Teléfono *</label>
                        <input class="form-control" required type="text" name="phone" placeholder="Ej. 78099062">
                    </div>
                    <div class="form-row">

                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" placeholder="Ej. example@gmail.com">
                    </div>
                    <div class="form-row">

                        <label for="serviceType">Tipo de Servicio *</label>
                        <select class="form-control" required name="serviceType">
                            <option value="">Seleccionar</option>
                            <option value="1">Transporte Nacional</option>
                            <option value="2">Almacenamiento de Carga</option>
                        </select>
                    </div>
                    <div class="grid form-row row-of-combos">
                        <div class="col">
                            <label id="lblOrigen" for="loadingSource">Origen de Carga</label>
                            <select class="form-control" required name="loadingSource" id="">
                                <option value="">Seleccionar</option>
                                <option value="SantaCruz">Santa Cruz</option>
                                <option value="LaPaz">La Paz</option>
                                <option value="Cochabamba">Cochabamba</option>
                                <option value="Sucre">Sucre</option>
                                <option value="ElAlto">El Alto</option>
                                <option value="Potosi">Potosi</option>
                                <option value="Oruro">Oruro</option>
                                <option value="Tarija">Tarija</option>
                                <option value="Trinidad">Trinidad</option>
                            </select>
                        </div>
                        <div class="col">
                            <label id="lblDestino" for="loadingDestination">Destino de Carga</label>
                            <select class="form-control" name="loadingDestination" id="">
                                <option value="">Seleccionar</option>
                                <option value="SantaCruz">Santa Cruz</option>
                                <option value="LaPaz">La Paz</option>
                                <option value="Cochabamba">Cochabamba</option>
                                <option value="Sucre">Sucre</option>
                                <option value="ElAlto">El Alto</option>
                                <option value="Potosi">Potosi</option>
                                <option value="Oruro">Oruro</option>
                                <option value="Tarija">Tarija</option>
                                <option value="Trinidad">Trinidad</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <button type="submit" onclick="return responseCotization();" class="form-control btn btn-block btnDelta">
                            <a style="color:white;text-decoration:none;">
                                Cotizar
                            </a>
                        </button>
                    </div>
                    <span class="err-msg">Debe completar los campos: Nombre / Empresa, Teléfono y Email</span>
                </form>
            </div>
            <div class="col colTxt">
                <h2>Transporta carga con nosotros</h2>
                <p>Cotiza nuestros servicios ahora!</p>
                <div>
                    <img class="imgForms" src="~/images/form_cliente.jpg" alt="Imagen no cargada" />
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-muted footer1 footer2" style="position:relative;">
        <img src="..\images\logoDeltaX.png" class="logoFooter">
        <div class="col">
            <div class="divContactUs">
                <h3>Contáctanos</h3>
                <img src="~/images/whatsapp (2).png">
                <img src="~/images/linkedin (3).png">
            </div>
        </div>
    </footer>
    <footer class="footer text-muted footer1" style="position:relative;">
        <div class="container" style="text-align:center;background-color: white;">
            &copy; Copyright Delta X - 2019
        </div>
    </footer>
    <script src="~/js/contact.js"></script>
    <!-- FIN SECCIÓN -->
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>
    <script src="~/js/contact.js"></script>
    <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script>
    <link href="~/css/myStyles.css" rel="stylesheet" />
</body>
</html>