body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 200px;
}

.myNavbar {
    background-color: white;
    height: 75px;
    display: flex;
    width: 103%;
}

.elements {
    width: 500px;
    float: right;
    padding-left: 49%;
    display: flex;
}

.elementDiv {
    width: 100px;
    margin: auto 10px auto 10px;
    padding: 0;
    float: right;
}

.element {
    width: auto;
    margin: 0;
}

.btnLogIn {
    width: 115%;
    background-color:lightgray;
}

@keyframes parpadeo {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: #ffffff
    }
}

@keyframes escribiendo {
    from {
        width: 100%
    }

    to {
        width: 0;
    }
}

.slider-1 {
    background-color: white;
}

.divContainer {
    padding: 1% 0 0 0;
    display:flex;
}

#sec-1 .text {
    margin-top: 8%;
    margin-left: 10%;
    float: left;
    text-align: left;
}

    #sec-1 .text h1 {
        padding: 0;
        margin: 10px 0;
        color: black;
        position: relative;
    }

    #sec-1 .text .h12 {
        padding: 0 25px 4px 0;
        margin: 10px 0;
        background-color: #ec9404;
        position: relative;
    }

    #sec-1 .text h1 .span1 {
        position: absolute;
        right: 0;
        width: 0;
        height: 52px;
        border-left: 2px solid #ec9404;
        background-color: white;
        box-sizing: border-box;
        animation: escribiendo 4s steps(11) infinite;
    }

    #sec-1 .text .btn {
        margin-top: 10%;
        padding:1px;
        width: 40%;
        background-color: #ec9404;
    }

    #sec-1 .text .btnSoyCliente {
        width: 40%;
    }

    #sec-1 .text .btnSoyCliente a {
        text-decoration:none;
    }

    #sec-1 .text .btnSoyTransportista {
        margin-left: 10%;
    }

    #sec-1 .text .btnSoyTransportista a{
        text-decoration:none;
    }

#sec-2 .img {
    width: 35%;
    height: 5%;
    float: left;
    margin: 8% 8% 0% 8%;
}

#sec-2 .divOptions {
    width: 45%;
    margin: 0;
    margin-top: 8%;
}

    #sec-2 .divOptions * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: black;
    }

    #sec-2 .divOptions .tabs {
        width: 100%;
        list-style: none;
        display: flex;
        border: solid black;
        border-right: none;
    }

        #sec-2 .divOptions .tabs li {
            width: 100%;
            text-align: center;
            border-right: solid black;
        }

            #sec-2 .divOptions .tabs li a {
                margin: 0;
                padding: 1% 34%;
                width: 100%;
                text-decoration: none;
            }

    #sec-2 .divOptions .tabContents {
        width: 100%;
    }

        #sec-2 .divOptions .tabContents p {
            text-align: justify;
        }

.active {
    /*Para el li*/
    background-color: #ec9404;
}

@media screen and (max-width: 500px) {
}
