body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.logo {
    width: 200px;
}

.myNavbar {
    background-color: white;
    height: 75px;
    display: flex;
    width: 103%;
}

.elements {
    width: 500px;
    float: right;
    padding-left: 55%;
    display: flex;
}

.elementDiv {
    width: 100px;
    margin: auto 10px auto 10px;
    padding: 0;
    float: right;
}

.element {
    width: auto;
    margin: 0;
}

.btnLogIn {
    width: 115%;
    background-color: lightgray;
}

.btnDelta {
    background: #ec9404;
    border-color: #ec9404;
    color: white;
}

@keyframes parpadeo {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: #ffffff
    }
}

@keyframes escribiendo {
    from {
        width: 100%
    }

    to {
        width: 0;
    }
}

.slider-1 {
    background-color: white;
}

.divContainer {
    padding: 6% 0 0 0;
    display: flex;
}

#sec-1 .text {
    margin-top: 8%;
    margin-left: 10%;
    float: left;
    text-align: left;
}

    #sec-1 .text div {
        display: flex;
    }

    #sec-1 .text h1 {
        padding: 0;
        margin: 10px 0;
        color: black;
        position: relative;
    }

    #sec-1 .text .h12 {
        padding: 0 25px 4px 0;
        margin: 10px 0;
        background-color: #ec9404;
        position: relative;
    }

    #sec-1 .text h1 .span1 {
        position: absolute;
        right: 0;
        width: 0;
        height: 52px;
        border-left: 2px solid #ec9404;
        background-color: white;
        box-sizing: border-box;
        animation: escribiendo 4s steps(11) infinite;
    }

    #sec-1 .text .btn {
        margin-top: 10%;
        padding: 1px;
        width: 40%;
        background-color: #ec9404;
    }

    #sec-1 .text .btnSoyCliente {
        width: 40%;
        margin-right: 15%;
    }

        #sec-1 .text .btnSoyCliente a {
            text-decoration: none;
        }

    #sec-1 .text .btnSoyTransportista {
        margin-left: 15%;
    }

        #sec-1 .text .btnSoyTransportista a {
            text-decoration: none;
        }

#sec-2 .img {
    width: 35%;
    height: 5%;
    float: left;
    margin: 8% 8% 0% 8%;
}

#sec-2 .divOptions {
    width: 45%;
    margin: 0;
    margin-top: 8%;
}

    #sec-2 .divOptions * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: black;
    }

    #sec-2 .divOptions .tabs {
        width: 100%;
        list-style: none;
        display: flex;
        border: solid white;
        border-right: none;
    }

        #sec-2 .divOptions .tabs li {
            width: 100%;
            text-align: center;
            border-right: solid white;
            padding: 1px;
        }

            #sec-2 .divOptions .tabs li a {
                margin: 0;
                padding: 10% 33%;
                width: 95%;
                background-color:lightgray;
                text-decoration: none;
                border-radius: 10px !important;
            }
.colTxt{
    text-align: left;
    margin:4% 0% 0% 4%;
    padding:4%;
    background-color:lightgray;
}
.colForm{
    text-align: left;
    margin:0% 0% 0% 4%;
    padding:4%;
}
.form{
    padding: 5%10%0%10%;
    border-radius: 5px !important;
    border:solid #ec9404;
}
    #sec-2 .divOptions .tabContents {
        width: 100%;
    }

        #sec-2 .divOptions .tabContents p {
            margin:10% 0% 0% 1%;
            text-align: justify;
        }

.active {
    /*Para el li*/
    background-color: #ec9404 !important;
}
.active span b{
    color:whitesmoke !important;
}

#sec-3 .divPerson {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 500px) {
    div {
        width: 80%;
    }

    .myNavbar {
        margin: 0;
        padding: 0;
        width: 90%;
        display: block;
        position: fixed;
    }

    .logo {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .elements {
        margin: 0;
        margin-top: 5%;
        padding: 0;
        width: 100%;
        justify-content: center;
    }

        .elements .elementDiv {
            margin: 0;
            padding: 0;
            padding-left: 4%;
            padding-right: 4%;
            width: auto;
        }

            .elements .elementDiv .element {
                margin: 0;
                padding: 0;
                font-size: 75%;
            }

    .slider-1 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar-fixed-top {
        margin: 0;
        padding: 0;
    }

    .btnLogIn {
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        width: 115%;
        background-color: lightgray;
    }

    .divContainer {
        width: 100%;
        margin: 0;
        padding: 60% 0 0 0;
        display: flex;
        background-color: white;
    }

    .myCarousel {
        width: 100%;
    }

    .myCarouselElement {
        width: 100%;
    }

    #sec-1 .text {
        margin: 0;
        width: 100%;
    }

        #sec-1 .text div {
            margin: 0 0 0 10%;
            height: 35%;
            display: block;
        }

        #sec-1 .text h1 {
            margin: 0 0 0 10%;
            font-size: 150%;
            width: 100%;
        }

        #sec-1 .text .h12 {
            padding: 0;
            margin: 0;
            font-size: 150%;
            width: 60%;
        }

            #sec-1 .text .h12 .span1 {
                height: 31px;
                padding: 0;
                margin: 0;
                margin-top: -1%;
            }

        #sec-1 .text div h1 {
            margin: 0;
        }

        #sec-1 .text .btnSoyCliente {
            margin-right: 1%;
            margin-left: 10%;
        }
}
